{% extends 'base.html' %}

{% block titulo %}Vendas Finalizadas{% endblock %}

{% block conteudo %}
<h1>Vendas Finalizadas</h1>

<ul>
    {% for venda in vendas %}
    <li>
        <a href="{% url 'detalhe_venda' venda.id %}">
            Venda #{{ venda.id }} — Cliente: {{ venda.cliente }}
        </a>

        <a class="btn-danger-small"
           href="{% url 'apagar_venda_finalizada' venda.id %}">
            Apagar
        </a>
    </li>
    {% empty %}
        <p>Nenhuma venda finalizada.</p>
    {% endfor %}
</ul>

<a class="btn btn-secondary" href="{% url 'menu_atendente' %}">Voltar</a>

{% endblock %}


